.main {
    width: 50%;
    height: 100Vh;
    background: url("./onboard.png");
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10rem;
}

.write-up-main-div {
    padding: auto;
    height: auto;
    margin-top: 90%;
    /* background: lightblue; */
    /* text-align: center; */
}

.write-up-main-div h1 {
    font-family: "Chonburi", serif;
    font-size: 40px;
    font-weight: 400;
    color: aliceblue;
}

.write-up-main-div p {
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    line-height: 28px;
    padding-top: 1rem;
    color: aliceblue;
    /* text-align: justify; */
    /* padding-right: 0rem; */
}