/* General Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    width: 100%; 
    height: 75px;
    background-color: black;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 999;
}

/* Navigation Content */
.nav_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
}

/* Logo */
.nav_logo {
    cursor: pointer;
}

.nav_logo img {
    width: 125px;
    height: 28px;
}

/* Main Navigation Menu */
.nav_menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    font-size: 16px;
    font-weight: 700;
    font-family: Mulish, sans-serif;
}

/* Dropdown */
.dropdown {
    position: relative;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #009688;
    min-width: 8rem;
    margin-top: 0.5rem;
    margin-left: -1rem;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: .8rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FF7900;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Navigation List */
.nav_list {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Mulish, sans-serif;
}

.nav_list li {
    width: 100%;
    list-style: none;
}

/* Links */
.active {
    width: 100%;
    color: rgb(0, 150, 136, 1);
    text-decoration: none;
}

.notActive {
    width: 100%;
    color: white;
    text-decoration: none;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    margin-right: 1rem;
}

.nav_link:hover, .notActive:hover {
    font-weight: bolder;
    color: #13afb4;
}

.listingIcon{
    padding-top: .5rem;
    font-size: 1.3rem;
}

/* Get Started Button */
.get{
    background-color: rgb(0, 150, 136, 1);
    border: 2px solid #0a898d;
    position: absolute;
    right: 2%;
    top: 18%;
    /* margin-top: 0rem; */
    padding: 0.5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.get:hover{
    background-color: #FF7900;
    border: 2px solid #FF7900;
    font-weight: bold;
}

/* Mobile Navigation */
.navbar-toggle{
    display: none; 
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .nav_content {
        padding-inline: 2rem;
    }
    .nav_menu {
        display: none;
        width: 100%;
    }
    .nav_menu-mobile {
        display: flex; 
    }
    .nav_list {
        background: #009688;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        height: 500px;
        position: absolute;
        top: 60px;
        right: 0;
    }
    .nav_list li {
        text-align: center;
        margin: 8px 0;
    }
    .nav_link, .nav_list li, .get{
        font-size: 1.5rem;
    }
    .navbar-toggle{
        display: block; 
    }
    .active, .dropbtn:hover {
        color: #FF7900;
    }
    .navbar-toggle {
        display: block;
    }
    .dropdown-content {
        position: relative;
        width: 100%;
        margin-left: 0;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .get{
        background-color: #FF7900;
        position: absolute;
        top: 130px; 
        right: 38%;
        margin-top: .5rem;
    }
    /* .get {
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
    } */
}

/* Desktop View */
/* @media (min-width: 769px) {
    .nav_menu {
        display: flex;
    }

    .nav_list {
        flex-direction: row;
        gap: 2rem;
    }

    .get {
        margin-left: 2rem;
    }
} */
