.section_6{
    width: 100%;
    height: 532px;
    display: grid;
    text-align: center;
    background-color: white;
    padding-top: 1rem;
}
.section6_box{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    /* grid-template-columns: repeat(auto-fit, minmax(25%, auto)); */
    gap: 10px;
    padding: 0 1rem;
    margin-top: -2rem;
    margin-inline: 2rem;
}
.flexible{
  text-align: start;
  width: 100%;
  height: 245px;
  line-height: 1.5rem;
  font-family: Mulish;  
  /* border: 1px solid green; */
}
.flexible h2{
    font-size: 20px;
    font-weight: 700;
    padding: .7rem 0;
} 
.flexible img{
    width: 49px;
    height: 49px;
}