.welc-main {
    width: 50%;
    height: 100vh;
    background-color: white;
    border-top-left-radius: 30px;
    /* border-bottom-left-radius: 30px; */
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.main-welcome-div {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: rgb(233, 234, 183); */
}

.image-logo {
    width: 30%;
    height: 4vh;
    /* background-color: rgb(233, 234, 183); */
}
.main-welcome-div h1 {
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-size: 32px;
    color: rgb(52, 52, 52);
    margin-top: 2rem;
}

.main-welcome-div p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #929292;
    padding-top: 1rem;
    line-height: 24px;
    text-align: center;
}

.main-welcome-div samp {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #929292;
    padding-top: 5px;
    text-align: center;
}

.main-welcome-div .link {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FF7900;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}
.main-welcome-div .link:hover {  
    color: #ff3700;
}

.landLord-Buyer-div {
    width: 95%;
    height: 38%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}
.BTN {
    width: 92%;
    /* height: 7%; */
    margin-top: 2rem;
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    background-color: #009688;
}
.signInBTN:hover {
   transition: all 350ms ease-in-out;
    background-color: #009687de;
}