.listing_container{
    width: 100%;
    height: 100%;
}
.intro{
    text-align: center;
    margin-top: 3rem;
}
.intro h2{
    font-family: Chonburi;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.intro-box{
    width: 80%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    opacity: 80%;
    padding: 1rem 1.5rem;
    border-radius: 15rem;
    background-color: #09887b;
}
.intro-box input{
    width: 90%;
    border: none;
    background-color: transparent;
}
.intro-box input:focus{
    border: none;
    outline: none;
}
.intro-box input::placeholder, .searchbtn{
    color: white;
}
.searchbtn{
    cursor: pointer;
    font-size: 1.5rem;
}
.listing{
    width: 90%;
    margin-inline: auto;
    margin-top: 4rem;
}
.listing h2{
   font-family: Chonburi;
   font-size: 1.5rem;
   font-weight: 300;
}
.listing-project{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 3rem 0;
}
.listing_box{
    width: 100%; 
    height: 100%;
    display: grid;
    border-radius: 10px;
    grid-template-rows: 70% 30%;
    box-shadow: 0px 0px 31px 0px #00000014;
}
.list-img{
    border-radius: 10px;
    padding: .5rem ;
}
.list-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.listing_subheading{
    text-align: start;
    padding: 0 .5rem;
    font-family: Mulish;
   position: relative;
}
.vlogo{
    width: 48px;
    height: 48px;
    position: absolute;
    top:-130% ;
    left: 45%;
    cursor: pointer;
}
.listing_subheading h4{
    font-weight: 700; 
    font-size: 15px;  
    line-height: 24px;
}
.listing_subheading p{
    font-size: 11.87px;
    font-weight: 500;
    line-height: 14.9px;
    color: #878787;
}
.list-details{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.list-details img{
    width: 25px;
    height: 13px;
}
.list-details p{
    font-size: 10px;
    font-weight: 500;
    line-height: 12px; 
}
.list-details a{
    color: #FF7900;
}
.list-details a:hover{
    color: #009688;
}
@media (max-width:540px){
    .listing-project{
        grid-template-columns: repeat(2,48%);
        row-gap: 30px;
    }
    .listing_subheading h4{
        font-size: 9.72px;
        line-height: 12px;    
    }
    .listing_subheading p, .list-details p, .list-details a{
        font-size: 7px;
    }
    .listing_box{
        width: 100%; 
        height: 100%;
    }
    .list-details{
        padding-top: .5rem;
    }
    .vlogo{
        width: 24px;
        height: 24px;
        position: absolute;
        top:-130% ;
        left: 42%;
        cursor: pointer;
    }
}

