footer {
    height: 100%;
    width: 100%;
    background-color: #000000;
    padding: 2rem 6rem;
}
.footer1 img{
    width: 203px;
    height: 100px;
}
.footer-img {
    margin: .5rem 35% ;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}

.footer-content li {
    display: inline-block;
    margin-right: 5rem;
    list-style: none;
}

.footer-hr {
    width: 92%;
    color: #C7C7CC;
    margin: 1rem 3rem;
}

.footer-content li a {
    text-decoration: none;
    color: #C7C7CC;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    margin: .5rem 2rem;
    color: #C7C7CC;
}

.footer-icon {
    font-size: 2rem;
    padding: 0 .5rem;
    cursor: pointer;
    color: #C7C7CC;
}

.footer-icon:hover {
    font-size: 2.5rem;
    color: #009688;
}